@charset "utf-8";

/*******************************************************

	@ 서브 컨텐츠

*******************************************************/


/*******************************************************
	00. common
*******************************************************/
.header{position:fixed;}

.card{position:relative;}

.nav{display:flex;align-items:center;padding:20px;height:32px;box-sizing:content-box;}
.nav .logo{margin-right:auto;}
.nav .icon{margin-left:22px;}
.nav .logo img{width:37px;}
.nav .i-search img{width:25px;}
.nav .i-map img{width:17px;}
.nav .i-list img{width:23px;padding-top:1px;}

.filter{height:72px;padding-top:11px;padding-bottom:16px;background:#fff;overflow-x:auto;overflow-y:hidden;}
.filter::-webkit-scrollbar{display:none;}
.filter .filter_list{padding-left:20px;}
.filter .filter_list ul{width:100%;height:45px;display:table;display:flex;align-items:center;min-width:430px;white-space:nowrap;overflow-y:auto;}
.filter .filter_list ul li{display:table-cell;text-align:center;vertical-align:middle;padding-right:9px;}
.filter .filter_list ul li button{border:1px solid #C7D3DD; border-radius:6px;color:#64727E;padding:8px 10px;font-size:16px;background-color:#fff;}

.product_list_wrap{padding:0 20px;}
.product_list_wrap ul{margin:0 -12px 16px -12px;font-size:0;}
.product_list_wrap ul li{width:50%;display:inline-block;font-size:0;border-radius:4px;overflow:hidden;padding:0 8px;box-sizing:border-box;margin-bottom:24px;}
.product_list_wrap ul li .thumb{position:relative;border-radius:4px 4px 0 0;overflow:hidden;}
.product_list_wrap ul li .thumb_map{position:relative;}
.product_list_wrap ul li .thumb img{width:100%; height:7em;}
.product_list_wrap ul li .thumb_map img{width:100%; height:8em;}
.product_list_wrap ul li .category{font-size:11px;margin:8px 3px 8px 0;box-sizing:border-box;}
.product_list_wrap ul li .category span{display:inline-block;border:1px solid #C7D3DD; border-radius:12px;padding:3px 6px;color:#64727E;margin-right:2px;}
.product_list_wrap ul li .address{font-size:16px;color:#4A4A4A;line-height:21px;height:63px;overflow:hidden;}

.product_list_wrap ul li .price_section{display:flex;align-items:center;}
.product_list_wrap ul li .price_section .badge{color:#fff;font-size:10px;font-weight:400;padding:2px 2px;border-radius:0;}
.product_list_wrap ul li .price_section .price{margin-left:auto;font-size:16px;}
.product_list_wrap ul li .price_section .price span{vertical-align:middle;}

.product_list_wrap ul li .price_appraise{margin-top:12px;}
.product_list_wrap ul li .price_appraise .badge{background:#C7D3DD;}
.product_list_wrap ul li .price_appraise .price{color:#999A9D;}

.product_list_wrap ul li .price_lowest{}
.product_list_wrap ul li .price_lowest .badge{background:#1E47C2;}
.product_list_wrap ul li .price_lowest .price{color:#1E47C2;font-weight:bold;display:flex;align-items:center;letter-spacing:-0.3px;}
.product_list_wrap ul li .price_lowest .price span.d-rate{color:#FC5C7D;font-size:11px;margin-right:2px;}

.dday-bx{position:absolute;top: 0;left: 0;display: inline-block;font-size: .8rem;color: #fff;width: 72px;background: #1E47C2;height:26px;text-align: center;}
.dday-bx em{line-height:26px;font-size:12px;font-weight:400;}
.dday-bx:after{position:absolute;top:25px;left: 0;content: '';width: 0;height: 0;border-right: 36px solid #1E47C2;border-left: 36px solid #1E47C2;border-bottom: 9px solid transparent;}

/* button */
.btn{border-radius:3px;box-sizing:border-box;box-shadow: 1px 2px 5px 0 rgba(46,54,79,0.42);}
.btn.btn-md{font-size:16px;padding:12px 8px;}
.btn.btn-sm{font-size:15px;padding:7px 10px;}
.btn.blue{background:#1E47C2;color:#fff;border:1px solid #1E47C2;}
.btn.btn-full{width:100%;}
.btn.line{box-shadow: 1px 2px 7px 0 rgba(46,54,79,0.22);}
.btn.line.blue{border:1px solid #1E47C2; color:#1E47C2;background:#fff;}

/* badge */
.badge{font-size:12px;padding:4px 6px;box-sizing:border-box;display:inline-block;margin-left:4px;}
.badge.red{background:#E94567;color:#fff;border-radius:0;font-size:13px;padding:4px 6px;font-weight:400;}

/* table */
.table table{width:100%;border-top:2px solid #1E47C2;font-size:15px;}
.table table th,
.table table td{border-bottom:1px solid #C7D3DD;vertical-align:middle !important;}
.table table th{background:#F7F8FA;padding:12px;}
.table table td{padding:12px;}

/* check box */
.check {position: relative;display: inline-block;min-height: 20px;padding-left: 32px;line-height: 20px;}
.check input[type=checkbox] {position: absolute;top: 0;left: 0;width: 20px;height: 20px;opacity: 0;}
.check input[type=checkbox] + label {font-size: 16px;line-height: 18px;margin-bottom:0;}
.check input[type=checkbox] + label span {display: inline-block;font-size: 0;position: absolute;top: 0;left: 0;width: 20px;height: 20px;border: 1px solid #ccc;cursor: pointer;background: url(../../images/icon_checkbox.png) no-repeat center -18px;background-size:15px 12px;transition: background-color 0.2s, border 0.2s ease;box-sizing: border-box;}
.check input[type=checkbox]:checked + label span {background-position: center 3px;}

.col_multy_check{font-size:0;}

/* radio */
.multi_chk{height:22px;}
.split{float:left;box-sizing:border-box;line-height:1;padding-right:14px;}
.split .radio{position:relative;display:inline-block;min-height:20px;padding-left:25px;line-height:20px;}
.radio input[type=radio]{position:absolute;top:50%;left:0;width:20px;height:20px;opacity:0;margin-top:-10px;}
.radio input[type=radio] + label{font-size:15px;line-height:20px;}
.radio input[type=radio] + label span{display:inline-block;font-size:0;position:absolute;top:0;left:0;width:20px;height:20px;border: 1.5px solid #C1C9DA;border-radius:50%;box-sizing:border-box;}
.radio input[type=radio] + label span:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0 0;
    border-radius: 50%;
    transition: all 0.15s ease;
    background: url(../../images/radio-check.png) no-repeat center center;
    background-size: 11px 9px;
}
.radio input[type=radio]:checked + label span{
    border: 1.5px solid #122F6F;
}
.radio input[type=radio]:checked + label span:after {
    width: 11px;
    height: 9px;
    margin: -4px 0 0 -5px;
}

/* marker */
.list-marker{position:absolute;top:20px;left:20px;width:97px;height:52px;background:url(../../images/marker-blue.png) no-repeat;background-size:97px 56px;color:#fff;}
.list-marker .kind{font-size:11px;line-height:12px;text-align:center;padding-top:8px;padding-bottom:1px;}
.price-info{display:flex;font-size:13px;padding:0 8px;}
.price-info .price{margin-left:auto;font-weight:bold;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}

.list-marker2{position: absolute;top: 11px;left: 123px;background: rgba(30,71,194,.87);border-radius: 50%;width: 42px;height: 42px;z-index: 999;box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px 0px;}
.list-marker2 .number{color:#fff;line-height:42px;text-align:center;}

.list-marker3{position: absolute;top: 11px;left: 170px;padding:5px 3px 3px 3px;text-align:center;color:#fff;background: rgba(30,71,194,.87);border-radius: 4px;width: 70px;z-index: 999;box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px 0px;}
.list-marker3 .kind{font-size:11px;line-height:12px;padding-bottom:1px;}
.list-marker3 .price{font-size:14px;font-weight:bold;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}

/* alert */
.alert{
  position: absolute;
  width: 96%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  font-size: .9rem;
  font-weight: 400;
  color: #fff;
  z-index: 999;
  background-image: linear-gradient(45deg, #1E47C2, #7C62EB);
  line-height: 1.2;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px 0px;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  box-sizing:border-box;
}
.alert .alert-desc{width:100%;font-weight:500;color:#fff;font-size:14px;}
.alert button{position:absolute;right:8px;top:5px;}
.alert button img{width:16px;height:16px;}

/*******************************************************
	01. list
*******************************************************/
.list .header{
    z-index:20;
    /* 다른 요소들에게 가려질 수 있으니 적절한 z-index 를 설정한다 */
    width:100%;
    /* 화면 100%의 가로 크기와 */
    height:50px;
    /* 세로로 50px의 헤더를 만든다 */
    box-sizing:border-box;
    transition: All 0.2s ease;
    /* 사라지고 나타날때 부드럽게 보이는 효과를 준다 */
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    background:#fff;
}

.list .nav{background:#fff;padding:20px;}
.list .content{padding-top:156px;}

/* 필터 레이어 팝업 */
.layer-popup{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;margin:0 auto;height:auto;background-color:#fff;}
.layer-popup.product_type{left:0;} /* 물건 종류 팝업 */
.layer-popup.add_filter{display:none;left:0;} /* 필터 추가하기 팝업 */
.layer-popup.map_locate{left:0;} /* 지도 팝업 */
.layer-popup.right-menu{} /* 우측 메뉴 팝업 */
.layer-popup.search-section{} /* 우측 메뉴 팝업 */
.layer-popup.doc-section{width:263px;border-radius:4px;top:50px;bottom:65px;box-shadow: 0 2px 7px 0 rgba(46,54,79,0.22);}
.layer-popup form{margin-top:0;}

.product_type .layer-containers,
.add_filter .layer-containers,
.map_locate .layer-containers,
.search-section .layer-containers{left:0;}

.popup_header {position: relative;height: 72px;line-height: 72px;text-align: center;font-size:18px;border-bottom:1px solid #EBF0F4;background:#fff;box-shadow: 1px 2px 4px 0 rgba(46,54,79,0.1);z-index:900;}
.popup_header .i-back{position:absolute;top:-2px;left:18px;}
.popup_header .i-back img{width:22px;}
.popup_header .save {position:absolute;top:0;right:18px;display:block;font-size:18px;cursor:pointer;}

.layer-containers{position:absolute;top:72px;right:0;bottom:0;}
.layer-containers .inner{height:100%;border-radius:0 0 5px 5px;}
.layer-containers .box{position:absolute;top:0;right:0;bottom:0;left:0;padding:10px 20px;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.layer-containers .box .section{position:relative;border-bottom:1px solid #DBE6EF;padding:20px 0;}

.layer-containers .btn_wrap button{position:absolute;top:9px;right:0;height:40px;}
.layer-containers .btn_wrap button.btn-reset{position:relative;width:100%;top:0;}

.form_wrap > h3{font-size:18px;font-weight:bold;display:inline-block;line-height:23px;margin-right:8px;margin-bottom:20px;}
.form_wrap > h3 + .chk_list {display:inline-block;padding-left:10px;margin-top:3px;}
.form_wrap > h3 + .chk_list .check{padding-left:26px;}
.form_wrap > h3 + .chk_list .check label{font-size:14px;line-height:16px;}
.form_wrap > h3 + .chk_list .check label span{width:17px;height:17px;background-size:13px 11px;}
.form_wrap p.check{margin-bottom:0;}
.form_wrap .col_multi_check{ }
.form_wrap .col_multi_check .chk_list{width:50%;display:inline-block;margin-bottom:8px;}
.form_wrap .col_multi_check .check{margin-top:4px;margin-bottom:0;}
.form_wrap .col_multi_check + button{margin-top:12px;}

.form_wrap .input_content{display:flex;align-items:center;margin-bottom:8px;}
.form_wrap .input_content input[type=text]{max-width:116px;height:41px;margin-right:4px;margin-left:4px;padding:12px;}
.form_wrap .input_content select{width:90px;padding:7px 10px;}

.map_locate .close{position:absolute;top:20px;right:20px;background:#FC5C7D;width:52px;height:52px;border-radius:50%;box-shadow: 0 2px 4px 0 rgba(62,6,18,0.46);z-index:900;opacity:1;}
.map_locate .close img{width:16px;height:16px;position:absolute;top:19px;left:18px;}
.map_locate .layer-containers{top:0;left:0;}
.map_locate .layer-containers .inner .box{padding:0;}
.map_locate .layer-containers .inner .box .map-section{width:100%;height:100%;}
.map_locate .layer-containers .inner .box .map-list-hide{position:fixed;z-index:1;bottom:0;left:0;background:#fff;border-radius:10px 0 0 0;width:100%;height:2.2em;box-shadow: 0-2px 11px 0 rgba(29,46,97,0.27);}
.map_locate .layer-containers .inner .box .map-list{position:absolute;z-index:1;bottom:0;left:0;background:#fff;border-radius:10px 0 0 0;width:100%;height:323px;box-shadow: 0 -2px 11px 0 rgba(29,46,97,0.27);}
.map_locate .touch-section .touch-icon{text-align:center;margin-bottom:10px;}
.map_locate .touch-section .touch-icon img{width:23px;}
.map_locate .product_list_wrap{width:500px;}
.map_locate .product_list_wrap ul li{width:235px;border:1px solid #C7D3DD;padding:0;margin-right:20px;}
.map_locate .product_list_wrap ul li .thumb{height:134px;}
.map_locate .product_list_wrap ul li .address{margin-top:16px;padding:0 12px;font-size:14px;}
.map_locate .product_list_wrap ul li .price_section{padding:0 12px;}
.map_locate .product_list_wrap ul li .price_lowest{margin-bottom:16px;}

.map_locate .product_list_wrap ul li.active .dday-bx{background:#FC5C7D;}
.map_locate .product_list_wrap ul li.active .dday-bx:after{border-right: 36px solid #FC5C7D;border-left: 36px solid #FC5C7D;}
.map_locate .product_list_wrap ul li.active .price_lowest .badge{background:#FC5C7D;}
.map_locate .product_list_wrap ul li.active .price_lowest .price{color:#FC5C7D;}

.right-menu{background:none;}
.right-menu .layer-containers{width:280px;height:100%;right:0;top:0;background:#2E364F;box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);}

.right-menu .profile{text-align:center;}
.right-menu .profile .pf-thumb{width:66px;height:66px;border-radius:50%;background:#fff;margin:30px auto 16px auto;}
.right-menu .profile .pf-thumb img{width:100%;}
.right-menu .profile .login{font-size:16px;color:#fff;margin-bottom:12px;}
.right-menu .profile .signin{font-size:16px;color:#A3A7B5;}
.right-menu .profile .signin span{text-decoration: underline;}

.search-section .layer-containers{left:0;}
.search-section .close.blue{position:absolute;top:20px;right:20px;background:#1E47C2;width:52px;height:52px;border-radius:50%;box-shadow: 0 2px 4px 0 rgba(62,6,18,0.46);z-index:900;opacity:1;}
.search-section .close.blue img{width:16px;height:16px;position:absolute;top:19px;left:18px;}
.search-section .search{position:relative;margin-top:33px;border:1px solid #F4F4F4;box-shadow: 0 10px 20px 0 rgba(0,0,0,0.09);}
.search-section .search input[type=text]{font-size:17px;font-weight:400;color:#2E364F;border:none;width:100%;box-shadow: none;padding:15px 14px 15px 47px;}
.search-section .search input[type=text]::placeholder{color:#A7BBCA;}
.search-section .search input[type=text]:focus,
.search-section .search input[type=text].active{border:none !important;}
.search-section .search img{position:absolute;top:19px;left:14px;width:20px;height:20px;}

.doc-section .popup_header{background:#2E364F;border-radius:4px 4px 0 0;height:62px;line-height:62px;font-size:21px;text-align:left;padding-left:20px;}
.doc-section .popup_header span{color:#fff;}
.doc-section .popup_header .i-close{position:absolute;right:20px;top:-2px;}
.doc-section .popup_header .i-close img{width:17px;}
.doc-section .layer-containers{left:0;top:62px;}
.doc-section .layer-containers .box{padding:0;}
.doc-section .doc-list ul{text-align:center;}
.doc-section .doc-list ul li{border-bottom:1px solid #C7D3DD;padding:13px 0;font-size:17px;}
.doc-section .doc-list ul li:last-child{border-bottom:0;}
.doc-section .doc-list ul li.inactive{color:#A7BBCA;}

.search-result{background:#F7F8FA;position:relative;box-shadow: 0 10px 20px 0 rgba(0,0,0,0.09);}

.search-result .result-type{padding:19px 14px;}
.search-result .result-list-box{background: #fff;height: 23rem;overflow-y: auto;}
.result-list-box .result-count {
    border-bottom: 1px solid #f4f4f4;
    padding: 15px 12px 12px 15px;
}
.result-list-box .result-count span {
    color: #1E47C2;
    font-weight: 500;
}
.result-list-box ul li {
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    padding: 16px 12px 16px 20px;
}
.result-list-box ul li .search-badge.court {
    background: #E94567;
}
.result-list-box ul li .search-badge.region {
    background: #395198;
}
.result-list-box ul li .search-badge.number {
    background: #4B3998;
}
.result-list-box ul li .result-txt.number-txt {
    padding-left: 51px;
}
.result-list-box ul li .search-badge {
    position: absolute;
    top: 18px;
    padding: 2px 4px 3px 4px;
    font-size: 10px;
    color: #fff;
    font-weight: 200;
}
.result-list-box ul li .result-txt {
    padding-left: 32px;
}


/*******************************************************
	02. detail
*******************************************************/
.detail .header{height:60px;width:100%;top:0;left:0;z-index:20;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.detail .header .nav{padding:14px 20px;}
.detail .header .nav .icon{position:relative;width:25px;height:25px;}
.detail .header .nav .i-back{margin-right:auto;margin-left:0;}
.detail .header .nav .i-doc{margin-left:28px;}

.detail .header .nav .icon:after{content:'';position:absolute;width:25px;height:25px;top:0;left:0;}
.detail .header .nav .i-back:after{background:url(../../images/i-back-w.png) no-repeat;background-size:22px 21px;top:2px;}
.detail .header .nav .i-like:after{background:url(../../images/i-like-w.png) no-repeat;background-size:25px 25px;}
.detail .header .nav .i-doc:after{background:url(../../images/i-doc-w.png) no-repeat;background-size:19px 25px;}
.detail .header .nav .icon.i-list:after{background:url(../../images/i-list-w.png) no-repeat;background-size:22px 21px;top:2px;}

.detail .header.navScroll{background:#fff;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);border-bottom:1px solid #EBEFF2;box-sizing:content-box;}
.detail .header.navScroll .nav{background:#fff;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}

.detail .header.navScroll .nav .icon:after{content:'';position:absolute;width:25px;height:25px;top:0;left:0;}
.detail .header.navScroll .nav .i-back:after{background:url(../../images/i-back.png) no-repeat;background-size:22px 21px;top:2px;}
.detail .header.navScroll .nav .i-like:after{background:url(../../images/i-like.png) no-repeat;background-size:25px 25px;}
.detail .header.navScroll .nav .i-doc:after{background:url(../../images/i-doc.png) no-repeat;background-size:19px 25px;}
.detail .header.navScroll .nav .icon.i-list:after{background:url(../../images/i-list.png) no-repeat;background-size:22px 21px;top:2px;}

.img_slide{position:relative;width:100%;}
.img_slide > div {width:100% !important;}
.img_slide > div > div {width:100% !important;}
.img_slide > div > div > button{margin-top:0 !important;top:0 !important;}
.img_slide > div > div > div > button{width:13px !important; height:13px !important; margin:0 4px !important;box-shadow:none !important;}
.img_slide .bg{position:absolute;top:0;left:0;width:100%;height:120px;background:linear-gradient(0deg, rgba(46,54,79,0) 0%, rgba(14,25,60,0.41) 100%);}

.tab_menu .tab{white-space:nowrap;}
.tab_menu .tab > input[type=radio]:nth-of-type(1),
.tab_menu .tab > input[type=radio]:nth-of-type(1) ~ .default_info,
.tab_menu .tab > input[type=radio]:nth-of-type(2),
.tab_menu .tab > input[type=radio]:nth-of-type(2) ~ .real_price_menu{
    display:none
}
.tab_menu .tab > input[type=radio]:nth-of-type(1):checked ~ div:nth-of-type(1),
.tab_menu .tab > input[type=radio]:nth-of-type(2):checked ~ div:nth-of-type(2){
    display:block
}

.tab_menu .tab > label{display:inline-block;box-sizing:border-box;width:50%;height:60px;padding:0;margin:0;font-size:0;text-align:center;border-bottom:1px solid #C7D3DD;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.tab_menu .tab > input[type=radio]:checked + label{border-bottom:2px solid #1E47C2;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.tab_menu .tab > input[type=radio] + label span{font-size:17px;color:#2E364F;font-weight:400;display:inline-block;padding:18px;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.tab_menu .tab > input[type=radio]:checked + label span{font-weight:bold;color:#1E47C2;transition: background 0.65s, top 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}

.tab_contents{}

.detail .card{border-bottom:5px solid #EFEFEF;border-radius:0;border-width:0 0 5px 0;}
.detail .card-inner{border-bottom:1px solid #E2E3E5;padding:20px;}
.detail .card-inner h2.card-title{font-size:18px;font-weight:bold;color:#000;margin-bottom:16px;line-height:inherit;}

.info-section h2.num-title{font-size:18px;margin-bottom:14px;font-weight:bold;color:#000;line-height:inherit;}
.info-section .address{margin-bottom:12px;}
.info-section .address span{font-weight:bold;color:#1E47C2;}
.info-section .court{margin-bottom:6px;}
.info-section .court strong{margin-right:4px;}
.info-section .date{margin-bottom:24px;}
.info-section .date strong{margin-right:4px;}

.real_price_menu .dropdown_wrap{white-space:nowrap;margin-left:-6px;margin-top:6px;margin-bottom:28px;}
.real_price_menu .dropdown_wrap select{width:50%;display:inline-block;box-sizing:border-box;}
.real_price_menu .dropdown_wrap select.item-sale{margin-right:6px;}
.real_price_menu .card .table tbody tr:last-child td{border-left:1px solid #C7D3DD;border-right:1px solid #C7D3DD;text-align:center;vertical-align: middle;}
.real_price_menu .card .table tbody tr:last-child td img{vertical-align:middle;}
.real_price_menu .card .table tbody tr td,
.real_price_menu .card .table thead tr th{padding:12px 6px;text-align:center;vertical-align:middle;}
.real_price_menu .card .table thead tr th{font-weight:bold;}

.price_wrap{position:relative;}
.price_wrap .price-group{position:absolute;top:0;left:0;}
.price_wrap .real-price-group{position:absolute;top:0;right:0;text-align:right;}
.price_wrap .title{font-size:16px;margin-bottom:3px;}
.price_wrap .price{font-size:24px;font-weight:bold;margin-bottom:3px;}
.price_wrap .caption{font-size:13px;color:#6E6E6E;}

.price_wrap .price-group .title{color:#1E47C2;}
.price_wrap .price-group .price{color:#1E47C2;}

.card .chart{padding-top:121px;margin-bottom:24px;}
.card .chart input[type=button]:nth-of-type(1),
.card .chart input[type=button]:nth-of-type(1) ~ .chart_contents01,
.card .chart input[type=button]:nth-of-type(2),
.card .chart input[type=button]:nth-of-type(2) ~ .chart_contents02,
.card .chart input[type=button]:nth-of-type(3),
.card .chart input[type=button]:nth-of-type(3) ~ .chart_contents03,
.card .chart input[type=button]:nth-of-type(4),
.card .chart input[type=button]:nth-of-type(4) ~ .chart_contents04{}

.card .chart input[type=button]:nth-of-type(1):checked ~ .chart_contents01,
.card .chart input[type=button]:nth-of-type(2):checked ~ .chart_contents02,
.card .chart input[type=button]:nth-of-type(3):checked ~ .chart_contents03,
.card .chart input[type=button]:nth-of-type(4):checked ~ .chart_contents04{
    display:block;
}

.card .chart button{display:inline-block;background:#fff;font-size:17px;margin-right:3px;padding:8px 13px;border:1px solid #64727E;color:#2E364F;}
.card .chart input[type=radio]:checked + button{background:#2E364F;color:#fff;border:1px solid #2E364F;}

.card .chart .chart-status .status-text{font-size:12px;color:#6E6E6E;}
.card .chart .chart_contents{margin-top:20px;}

.card .base-info ul{font-size:0;}
.card .base-info ul li{position:relative;font-size:17px;line-height:22px;display:inline-block;width:50%;padding-left:16px;padding-top:8px;}
.card .base-info ul li:after{content:'';position:absolute;top:16px;left:0;width:6px;height:6px;border-radius:50%;background:#4A4A4A;}




/*******************************************************
	03. hiding
*******************************************************/

#main.container{padding:0;}




/*******************************************************
	04. hiding
*******************************************************/

.hide-content {visibility:hidden;}